.width-30 {
    width: 30px;
}
.no-margin {
    margin: 0;
}
.no-margin-bottom {
    margin-bottom: 0px;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-padding {
    margin: 0;
}
.no-padding-left {
    padding-left: 0px;
}
.no-padding-right {
    padding-right: 0px;
}
.padding-5 {
    padding: 5px;
}
.padding-20 {
    padding: 20px;
}
.padding-5-10 {
    padding: 5px 10px !important;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-30 {
    margin-left: 30px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-7 {
    margin-top: 7px;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
#alphaSorter li {
    text-align: center;
}
#alphaSorter li.active a {
    border-radius: 50%;
    background: #4CB7B8;
    color: #FFF;
}
#alphaSorter li > a {
    display: block;
    height: 18px;
    width: 18px;
}
#alphaSorter li > a:hover {
    background: none;
}

#contactTable tr:hover td > .edit {
    
}

table tr:hover td > .btn-circle {
    display: block;
}

.btn-circle {
    width: 20px;
    line-height: 20px;
    text-align: center;
    display: none;
    float: left;
    margin-left: 12px;
    font-size: 14px;
    color: #707070;
    margin: auto auto;
}
.btn-circle:hover {
    border-radius: 50%;
    background: #ff7777;
    color: #FFF;
}
.grey-bg {
    background: #F0F3F4;
}
#contactAccordion.accordion .panel-heading .accordion-toggle {
    background: none;
    border-bottom: 1px solid #E6E8E8;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.mobile-plus-button {
    bottom: 20px;
    right: 20px;
    position: fixed;
    width: 56px;
    min-width: 56px;
    max-width: 56px;
    line-height: 56px;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 0;
    z-index: 999;
}
.white-bg {
    background: #FFFFFF;
}

.titleize {
    text-transform: capitalize;
}

.border-top-1 {
    border-top: 1px solid #dddddd;
}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.pac-container {
    z-index: 999999999999999999999 !important;
}