<div ui-view>
    <div class="container-fluid container-fullw">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right margin-bottom-10 hidden-sm hidden-xs">
                    <button type="button" class="btn btn-wide btn-info"><i class="fa fa-plus"></i> Add Contacts</button>
                    <button type="button" class="btn btn-wide btn-primary"><i class="fa fa-object-group"></i> Merge Contacts</button>
                </div>
                <div class="clearfix"></div>
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="position-relative">
                            <div class="pull-left">
                                <ul id="alphaSorter" class="nav">
                                    <li>
                                        <a href="javascript:void(0)" class="no-padding"
                                           ng-click="filterContact('*', 1, 15)">...</a>
                                    </li>
                                    <li ng-repeat="alpha in alphabet" ng-class="{'active': currentAlpha == alpha}">
                                        <a href="javascript:void(0)" class="no-padding" ng-bind="alpha"
                                           ng-click="filterContact(alpha, 1, 15)"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="table-responsive margin-left-30 hidden-sm hidden-xs" style="width: 95%">
                                <table id="contactTable" class="table table-striped table-hover no-margin-bottom"
                                       id="sample-table-1">
                                    <thead>
                                    <tr>
                                        <th class="width-30"><input type="checkbox"></th>
                                        <th>Family Name</th>
                                        <th>City</th>
                                        <th>Contact #</th>
                                        <th>Adviser</th>
                                        <th>Client Type</th>
                                        <th><input class="form-control input-sm" ng-model="searchKeyword"
                                                   placeholder="Search"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="contact in contacts | filter: searchKeyword"
                                        data-family-id="contact.FamilyID">
                                        <td><input type="checkbox" data-id="contact.FamilyID"></td>
                                        <td ng-bind="contact.FamilyFullName"></td>
                                        <td ng-bind="contact.City"></td>
                                        <td ng-bind="contact.Contact"></td>
                                        <td ng-bind="contact.Adviser"></td>
                                        <td ng-bind="contact.ClientType"></td>
                                        <td class="text-center">
                                            <a class="btn-circle"><i class="fa fa-edit"></i></a>
                                            <a class="btn-circle"><i class="fa fa-trash"></i></a>
                                            <a class="btn-circle" ui-sref="contacts.view({family_id: contact.FamilyID})"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-group accordion hidden-lg hidden-md margin-left-30" id="contactAccordion" style="width: 95%">
                                <div class="panel panel-white" ng-repeat="contact in contacts | filter: searchKeyword">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contactAccordion" href="#collapse_{{contact.FamilyID}}"> <i class="icon-arrow"></i> <span ng-bind="contact.FamilyFullName"></span></a>
                                        </h5>
                                    </div>
                                    <div id="collapse_{{contact.FamilyID}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <table class="table table-bordered table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td class="grey-bg">Contact #</td>
                                                        <td ng-bind="contact.Contact"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="grey-bg">City</td>
                                                        <td ng-bind="contact.City"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="grey-bg">Adviser</td>
                                                        <td ng-bind="contact.Adviser"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="grey-bg">Client Type</td>
                                                        <td ng-bind="contact.ClientType"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-block btn-info btn-squared">View Full Contact Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-wide btn-info hidden-lg hidden-md mobile-plus-button"><i class="fa fa-plus"></i></a>
</div>