<div class="container-fluid container-fullw">
  <div class="row">
    <div class="col-md-12">
      <h2 class="pull-left"><span ng-bind="client.FirstName"></span> <span ng-bind="client.LastName"></span></h2>
      <button type="button" class="btn btn-purple btn-xs margin-top-7 margin-left-10 margin-right-5"><i
          class="fa fa-paper-plane"></i> Send Mail
      </button>
      <button type="button" class="btn btn-dark-azure btn-xs margin-top-7 margin-right-5"><i class="fa fa-envelope"></i>
        Extra small
      </button>
      <button type="button" class="btn btn-info btn-xs margin-top-7 margin-right-5"><i class="fa fa-print"></i> Print
        Summary
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 no-padding-left">
      <div class="panel panel-white padding-20">
        <div class="tabbable no-margin">
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a class="padding-5-10" href="#summary" data-toggle="tab"> SUMMARY </a>
            </li>
            <li>
              <a class="padding-5-10" href="#clients" data-toggle="tab"> CLIENTS </a>
            </li>
            <li>
              <a class="padding-5-10" href="#loans" data-toggle="tab"> LOANS </a>
            </li>
            <li>
              <a class="padding-5-10" href="#insurance" data-toggle="tab"> INSURANCE </a>
            </li>
            <li>
              <a class="padding-5-10" href="#financials" data-toggle="tab"> FINANCIALS </a>
            </li>
            <li>
              <a class="padding-5-10" href="#workflow" data-toggle="tab"> WORKFLOW </a>
            </li>
            <li>
              <a class="padding-5-10" href="#records" data-toggle="tab"> RECORDS </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="summary">
              <div class="col-md-6 no-padding-left no-padding-right">
                <div class="well white-bg no-margin">
                  <h4 class="pull-left">Clients</h4>
                  <a href="javascript:void(0)" class="pull-right">View Details</a>
                  <span class="clearfix"></span>
                  <table class="table table-hover table-bordered no-margin">
                    <tbody>
                    <tr>
                      <td class="grey-bg">ADULT</td>
                      <td><span class="titleize" ng-bind="client.Title"></span>. <span class="titleize"
                                                                                       ng-bind="client.FirstName"></span>
                        <span class="titleize" ng-bind="client.LastName"></span></td>
                    </tr>
                    <tr>
                      <td class="grey-bg">CHILDREN</td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="child in children"><span class="titleize" ng-bind="child.FirstName"></span>
                            <span class="titleize" ng-bind="child.LastName"></span></li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="grey-bg">PHONE</td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="phone in client.Phone"><span ng-bind="phone.Type"></span>: <span
                              ng-bind="phone.Number"></span></li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="grey-bg">EMAIL</td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="email in client.Email"><span ng-bind="email.EmailAddress"></span></li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="grey-bg">ADDRESS</td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="address in familyAddress"><span ng-bind="address.formatted_address"></span>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6 no-padding-right">
                <div class="well white-bg no-margin-bottom">
                  <h4 class="pull-left">Loans</h4>
                  <a href="javascript:void(0)" class="pull-right">View Details</a>
                  <span class="clearfix"></span>
                  <table class="table table-hover table-bordered no-margin">
                    <tbody>
                    <tr ng-repeat="loan in loans">
                      <td ng-bind="loan.LoanAmount | currency:'$'"></td>
                      <td>Borrowed by <span ng-bind="loan.ActivityTitle"></span> from <strong
                          ng-bind="loan.ActivityOwner"></strong></td>
                      <td><span ng-bind="loan.LoanStatus" style="color: #46b8da"></span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="tab-pane fade" id="clients">
              <div class="row margin-bottom-10">
                <div class="col-md-12">
                  <h4 class="pull-left">Clients</h4>
                  <div class="pull-right margin-bottom-10 hidden-sm hidden-xs">
                    <button type="button" class="btn btn-wide btn-info"><i class="fa fa-plus"></i> Add Existing</button>
                    <button type="button" class="btn btn-wide btn-primary" data-toggle="modal" data-target="#newClient"><i class="fa fa-plus"></i> Add Client
                    </button>
                  </div>
                  <span class="clearfix"></span>
                  <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Birth Date</th>
                      <th>Gender</th>
                      <th>Smoker</th>
                      <th>Phone</th>
                      <th>Role</th>
                      <th style="width: 60px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, client) in clients">
                      <td><span ng-bind="client.FirstName"></span> <span ng-bind="client.LastName"></span></td>
                      <td ng-bind="client.DOB | date: 'dd-MM-yyyy'">Birth Date</td>
                      <td ng-bind="client.Gender">Gender</td>
                      <td ng-bind="client.SmokerStatus">Smoker</td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="phone in client.Phone"><span ng-bind="phone.Type"></span>: <span
                              ng-bind="phone.Number"></span></li>
                        </ul>
                      </td>
                      <td ng-bind="client.Role">Role</td>
                      <td>
                        <a class="btn-circle" ng-click="getClientInfo(key)"><i class="fa fa-edit"></i></a>
                        <a class="btn-circle"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row margin-bottom-10">
                <div class="col-md-12">
                  <h4 class="pull-left">Relationships</h4>
                  <div class="pull-right margin-bottom-10 hidden-sm hidden-xs">
                    <button type="button" class="btn btn-wide btn-purple" data-toggle="modal" data-target="#newRelationship"><i class="fa fa-plus"></i> Add Relationship
                    </button>
                  </div>
                  <span class="clearfix"></span>
                  <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Organization Type</th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="relation in relationships">
                      <td><span ng-bind="relation.Name"></span></td>
                      <td ng-bind="relation.OrganisationType"></td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="addr in relation.Address"><span ng-bind="addr.formatted_address"></span></li>
                        </ul>
                      </td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="email in relation.Email"><span ng-bind="email.Type"></span>: <span
                              ng-bind="email.EmailAddress"></span></li>
                        </ul>
                      </td>
                      <td>
                        <ul class="nav">
                          <li ng-repeat="phone in relation.Phone"><span ng-bind="phone.Type"></span>: <span
                              ng-bind="phone.Number"></span></li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" ng-if="relationships.length == 0">No relationship added yet.</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row margin-bottom-10">
                <div class="col-md-12">
                  <h4>Contact Information</h4>
                  <div class="row">
                    <div class="col-md-6 no-padding-right">
                      <div ng-repeat="addr in familyAddress">
                        <h5><span ng-bind="addr.Type"></span> Address</h5>
                        <div class="well white-bg">
                          <div class="col-md-4 text-right">Address</div>
                          <div class="col-md-8 text-left">
                            <textarea id="search{{addr.Type}}addr" class="form-control normal" style="width: 100%" rows="7" ng-bind="addr.formatted_address">
                            </textarea>
                            <span ng-if="addr.Type == 'Home'"><input type="checkbox"> Same as mailing address</span>
                          </div>
                          <span class="clearfix"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="well white-bg margin-top-25">
                        <div class="row margin-bottom-10">
                          <div class="col-md-4 text-right">Adviser</div>
                          <div class="col-md-8 text-left">
                            <input class="form-control">
                          </div>
                          <span class="clearfix"></span>
                        </div>
                        <div class="row margin-bottom-10">
                          <div class="col-md-4 text-right">Email</div>
                          <div class="col-md-8 text-left">
                            <input class="form-control">
                          </div>
                          <span class="clearfix"></span>
                        </div>
                        <span class="clearfix"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="insurance">
              Tabs::Insurance
            </div>
            <div class="tab-pane fade" id="financials">
              Tabs::Financials
            </div>
            <div class="tab-pane fade" id="workflow">
              Tabs::Workflow
            </div>
            <div class="tab-pane fade" id="records">
              Tabs::Records
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 no-margin-right no-padding-left">
      <div class="well white-bg margin-bottom-20 margin-left-10">
        <h4 class="pull-left"><span class="fa fa-tags"></span> Tagged</h4>
        <a href="javascript:void(0)" class="pull-right">View All</a>
        <span class="clearfix"></span>
        <div class="border-top-1 padding-top-10">
          <span class="label label-default margin-right-10 margin-top-10 pull-left" ng-repeat="tag in tags" ng-bind="tag.ActivityOwner"> Default</span>
          <span class="clearfix"></span>
        </div>
        <div class="margin-top-10">
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newTag"><i class="fa fa-plus"></i> Create Tag</button>
        </div>
        <span class="clearfix"></span>
      </div>
      <div class="well white-bg no-margin-bottom margin-left-10">
        <h4 class="pull-left"><span class="fa fa-file-text"></span> Notes</h4>
        <a href="javascript:void(0)" class="pull-right">View All</a>
        <span class="clearfix"></span>
        <div class="border-top-1 margin-bottom-10" ng-repeat="note in notes">
          <h5 class="no-margin-bottom margin-top-5" ng-bind="note.ActivityTitle">This is a simple note</h5>
          <span ng-bind="note.ActivityDetails"></span>
        </div>
        <div class="margin-top-10">
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newNote"><i class="fa fa-plus"></i> Create Note</button>
        </div>
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
</div>
<div id="newRelationship" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Relationship</h4>
      </div>
      <div class="modal-body">
        <div class="row margin-bottom-10">
          <div class="col-md-4 text-right">Entity Name</div>
          <div class="col-md-8">
            <input class="form-control" ng-model="newRelationship.Name">
          </div>
        </div>
        <div class="row margin-bottom-10">
          <div class="col-md-4 text-right">Entity Type</div>
          <div class="col-md-8">
            <select class="form-control" ng-model="newRelationship.OrganisationType[0]" ng-options="i as i for i in entityType">
            </select>
          </div>
        </div>
        <div class="row margin-bottom-10">
          <div class="col-md-4 text-right">Address</div>
          <div class="col-md-8">
            <input class="form-control" type="text" id="searchAddr">
          </div>
        </div>
        <div class="row margin-bottom-10">
          <div class="col-md-4 text-right">Phone Work</div>
          <div class="col-md-8">
            <input type="hidden" ng-model="newRelationship.Phone[0].Type" ng-init="newRelationship.Phone[0].Type = 'Work'">
            <input class="form-control" ng-model="newRelationship.Phone[0].Number">
          </div>
        </div>
        <div class="row margin-bottom-10">
          <div class="col-md-4 text-right">Phone Mobile</div>
          <div class="col-md-8">
            <input type="hidden" ng-model="newRelationship.Phone[1].Type" ng-init="newRelationship.Phone[1].Type = 'Mobile'">
            <input class="form-control" ng-model="newRelationship.Phone[1].Number">
          </div>
        </div>
        <div class="row margin-bottom-10">
          <div class="col-md-4 text-right">Email</div>
          <div class="col-md-8">
            <input type="hidden" ng-model="newRelationship.Email[0].Type" ng-init="newRelationship.Email[0].Type = 'Email'">
            <input class="form-control" ng-model="newRelationship.Email[0].EmailAddress">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="setRelationship()">Save</button>
      </div>
    </div>
  </div>
</div>
<div id="newTag" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Tag</h4>
      </div>
      <div class="modal-body">
        <div class="row margin-bottom-10">
          <div class="col-md-4 text-right">Reason to Tag</div>
          <div class="col-md-8">
            <input class="form-control" ng-model="newTag.taggedReason">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="setTag()">Save</button>
      </div>
    </div>
  </div>
</div>
<div id="newNote" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Notes</h4>
      </div>
      <div class="modal-body">
        <div class="row margin-bottom-10">
          <div class="col-md-2 text-right">Title</div>
          <div class="col-md-10">
            <input class="form-control" ng-model="newNote.ActivityTitle">
          </div>
        </div>
        <div class="row margin-bottom-10">
          <div class="col-md-2 text-right">Content</div>
          <div class="col-md-10">
            <textarea ng-model="newNote.ActivityDetails" style="width: 100%" rows="12"></textarea>
            <span><input type="checkbox" ng-model="newNote.IsSticky"> Mark sticky</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="setNote()">Save</button>
      </div>
    </div>
  </div>
</div>
<div id="newClient" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document" style="width: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Client</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-white">
              <div class="panel-heading">Personal Information</div>
              <div class="panel-body">
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Title</div>
                  <div class="col-md-8">
                    <select class="form-control" ng-model="newClient.Title"></select>
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">First Name</div>
                  <div class="col-md-8">
                    <input class="form-control" ng-model="newClient.FirstName">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Last Name</div>
                  <div class="col-md-8">
                    <input class="form-control" ng-model="newClient.LastName">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Role</div>
                  <div class="col-md-8">
                    <select class="form-control" ng-model="newClient.Role"></select>
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Birthday</div>
                  <div class="col-md-8">
                    <input class="form-control" ng-model="newClient.DOB">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Gender</div>
                  <div class="col-md-8">
                    <input class="form-control" ng-model="newClient.Gender">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-white">
              <div class="panel-heading">Additional Information</div>
              <div class="panel-body">
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Home Phone</div>
                  <div class="col-md-8">
                    <input class="form-control" type="hidden" ng-model="newClient.Phone[0].Type" ng-init="newClient.Phone[0].Type = 'Home'">
                    <input class="form-control" ng-model="newClient.Phone[0].Number">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Business Phone</div>
                  <div class="col-md-8">
                    <input class="form-control" type="hidden" ng-model="newClient.Phone[1].Type" ng-init="newClient.Phone[1].Type = 'Work'">
                    <input class="form-control" ng-model="newClient.Phone[1].Number">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Mobile Phone</div>
                  <div class="col-md-8">
                    <input class="form-control" type="hidden" ng-model="newClient.Phone[2].Type" ng-init="newClient.Phone[2].Type = 'Mobile'">
                    <input class="form-control" ng-model="newClient.Phone[2].Number">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Email</div>
                  <div class="col-md-8">
                    <input class="form-control" type="hidden" ng-model="newClient.Email[0].Type" ng-init="newClient.Email[0].Type = 'Email'">
                    <input class="form-control" ng-model="newClient.Email[0].EmailAddress">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Smoker</div>
                  <div class="col-md-8">
                    <select class="form-control" ng-model="newClient.SmokerStatus"></select>
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Occupation</div>
                  <div class="col-md-8">
                    <input class="form-control" ng-model="newClient.Occupation">
                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-md-4 text-right">Company</div>
                  <div class="col-md-8">
                    <input class="form-control" ng-model="newClient.Company">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-white">
              <div class="panel-heading">Comments / Notes</div>
              <div class="panel-body">
                <div class="row margin-bottom-10">
                  <div class="col-md-12">
                    <textarea ng-model="newClient.Notes" style="width: 100%" rows="12"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="clearfix"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>